body {
  font: normal 16px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

h1,
.is-1 {
  font-size: 2.5rem;
}

h2,
.is-2 {
  font-size: 2rem;
}

h3,
.is-3 {
  font-size: 1.5rem;
}

h4,
.is-4 {
  font-size: 1.25rem;
}

h5,
.is-5 {
  font-size: 1rem;
}

h6,
.is-6 {
  font-size: 0.75rem;
}

.container {
  max-width: 700px !important;
}

#home .columns {
  display: flex;
  height: 70vh;
}

.archive-section,
.article-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  line-height: 1;
}

.archive-section a,
.article-section a {
  height: 23px;
  padding: 0 7px;
  margin: 0 5px 10px 0;
  font-size: 10px;
  line-height: 23px;
  letter-spacing: 1px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #ffe66a;
  text-decoration: none;
  color: #17181e;
  transition: all 0.35s;
}

.article-content>p {
  margin: 15px 0 25px;
}

.article-content hr {
  width: 150px;
  margin: 2em auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.article-content ul,
.article-content ol {
  margin: 15px 0 25px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.article-content ul {
  list-style-type: disc;
}

.article-content figure {
  margin: 0 0 25px 0;
  padding: 1em;
  text-align: center;
  border: 3px solid #e5e5e5;
}

.article-content figure figcaption {
  text-align: center;
}

.article-content figure figcaption p {
  margin: 0;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  word-break: break-word;
  margin-top: 1em;
  margin-bottom: 1.25em;
}

.article-content li p {
  margin-top: 0;
  margin-bottom: 0;
}

.article-content li .highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-content li figure {
  margin-top: 1em;
}

#article-toc {
  margin-top: 1em;
}

#article-toc input[type="checkbox"] {
  display: none;
}

#article-toc .lbl-toggle svg {
  cursor: pointer;
}

#article-toc .lbl-toggle .toggle-melihat-icon,
#article-toc .lbl-toggle .toggle-menyembunyikan-icon {
  padding-left: 5px;
  margin-right: 2px;
}

#article-toc .lbl-toggle .toggle-melihat-icon:hover,
#article-toc .lbl-toggle .toggle-menyembunyikan-icon:hover {
  background-color: #ffce07;
}

/* Toc toggle logic */

#article-toc .toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 100%;
}

#article-toc .toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 100%;
}

#article-toc .toggle:checked+.lbl-toggle>.toggle-menyembunyikan-icon {
  display: inline;
}

#article-toc .toggle:checked+.lbl-toggle>.toggle-melihat-icon {
  display: none;
}

#article-toc .toggle:checked+.lbl-toggle>.toggle-menyembunyikan-icon {
  display: inline;
}

#article-toc .toggle:checked+.lbl-toggle>.toggle-melihat-text {
  display: none;
}

#article-toc .toggle:checked+.lbl-toggle>.toggle-menyembunyikan-text {
  display: inline;
}

/* End of toc toggle logic */

#article-toc .toggle-menyembunyikan-icon,
#article-toc .toggle-menyembunyikan-text {
  display: none;
  transition: max-height 0.25s ease-in-out;
}

#article-toc .collapsible-content {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

#article-toc .toc-title {
  margin: 1em 0 1.25em 0;
}

#TableOfContents ul {
  margin-left: 1em;
  list-style: '# ';
}

#TableOfContents a {
  text-decoration: none;
  color: inherit;
}

#TableOfContents a:hover {
  background: #ffce07;
  transition: background 150ms ease;
}

.highlight {
  position: relative;
  margin: 20px -15px;
}

.highlight pre {
  padding: 0 !important;
  border-top: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
}

.highlight code>span>span {
  padding: 0 18px !important;
}

.footnotes {
  margin-bottom: 1.5em;
}

.footnotes ol li p a {
  overflow-wrap: break-word !important;
}

.footer {
  background: none;
  padding: 25px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 10px;
}

.footer-links li::before {
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}

.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}


.disqus {
  padding: 0 15px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

code {
  color: inherit;
}